
body {
  overflow-y: hidden;
  background-image: url(./assets/o-sol-nubla-se-o-ceu-durante-o-fundo-da-manha-ceu-azul-branco-e-pastel-lente-de-foco-suave-luz-solar-alargada-gradiente-ciano-borrado-abstrato-de-natureza-pacifica-abrir-vi.avif);
  background-size: cover;
  
}


